body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: darkcyan;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.colored{
    color:white;
}
main{
    background-color: rgb(206, 112, 112);
    padding:8rem;
    position:relative;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding:0.5rem;
  }
  th{
    color:darkmagenta;
    box-shadow:0 0 1rem 0 grey;
  }
  button{
    background-color:darkkhaki;
  }

  button:hover{
    color:red;
    background-color:aquamarine;
  }
  form{
    background-color: rgb(140, 188, 188);
  }
 .creatButton{
    position:absolute;
    right:8rem;
 }
 input{
    display: block;
 }
 .miniform{
    background-color: aqua;
 }